.section {
  height: 83%;
}

.section >.item-wrapper:last-child > svg, .section >.item-wrapper:first-child > svg {
  visibility: hidden;
}

@media (min-width: 768px) {
  .list {
    max-height: 51vh;
    overflow-y: auto;
  }
}