.info {
  display: block;
}

.feed {
  height: 74.3vh;
  overflow-y: auto;
}

.orders {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

.done {
  color: #00CCCC;
}