.info {
  display: block;
}

.feed {
  height: 74.3vh;
  overflow-y: auto;
}

.col {
  display: flex;
  flex-wrap: wrap;
}

.title {
  width: 100%;
}

.orders {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  flex: 1 1 20%;
  max-width: 20%;
}

.items {
  font-size: 20px;
}

.done {
  color: #00CCCC;
}