.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.modal {
  max-width: 690px;
  position: relative;
  box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 40%);
  padding: 15px 15px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #1c1c21;
  background-clip: padding-box;
  border-radius: 37px;
  outline: 0;
}

.close {
  cursor: pointer;
  box-sizing: content-box;
  padding: .25em .25em;
  color: #000;
  border: 0;
  border-radius: .25rem;
  background: transparent;
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.4rem 0 1.4rem;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: .75rem;
}