.IngredientDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 480px;
  height: 240px;
  align-self: center;
}

.name {
  width: 100%;
  text-align: center;
}

.description {
  width: 70%;
  max-width: 500px;
  text-align: center;
  align-self: center;
}

.numbers {
  max-width: 668px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  flex: 0 0 20%
}

.number {
  text-align: center;
}

.label {
  text-align: center;
}