.IngredientDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  height: auto;
}

.name {
  width: 100%;
  text-align: center;
}

.description {
  width: 70%;
  text-align: center;
}

.numbers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  flex: 0 0 20%
}

.number {
  text-align: center;
}

.label {
  text-align: center;
}