.ingredient {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.img {
  margin: auto;
}

.ingredient div {
  min-width: 14px;
  font-size: 18px;
  height: 30px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.price svg {
  margin-left: 7px;
}

div[class^="counter_counter"] {
  font-family: 'Iceland';
  font-size: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .img {
    width: 100%;
  }
  .ingredient {
    max-width: 50%;
    flex: 0 0 50%;
  }
}