.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  align-items: center;
  width: 31.4%;
  justify-content: flex-end;
}

.link {
  display: flex;
  align-items: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.link svg {
  fill: #8585AD;
}

.link:hover svg {
  fill: #fff;
}

.nav li a.active {
  color: #fff;
}

.nav li a.active svg {
  fill: #fff;
}

.link svg {
  margin-right: 7px;
}

.brand {
  margin-left: auto;
  margin-right: auto;
}